<tr>
  <td class="text-bg-dark" colspan="3"><b>Total</b></td>
  <td class="text-bg-dark"><%= number_to_currency(order.price) %></td>
  <td class="text-bg-dark"><%= number_to_currency(order.discount) %></td>
  <td class="text-bg-dark"><%= number_to_currency(order.taxable_amount) %></td>
  <td class="text-bg-dark"><%= number_to_currency(order.payable) %></td>
</tr>